<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         verbose="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Parser Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory>./tests</directory>
        </blacklist>
    </filter>
</phpunit>